.forgot-card {
    margin: 12% auto;
    width: 40%;
    background-color: #FEFEFE;
  }
  
  // .forgot-container {
  //   align-items: center;
  //   margin: auto;
  //   width: 50%;
  // }
  
  // .forgot-title{
  //   margin-bottom: 1em;
  // }
  
  .forgot-form {
    position: absolute;
    display: flex;
    flex-direction: column;
    // align-items: center;
    padding-left: 6.4%;
    padding-right: 6.4%;
    width: 100%;
    top: 40%;
  }
  
  // .forgot-fields {
  //   width: 100%;
  // }
  
  .forgot-btn {
    /* position: absolute;
    right: 0;
    margin-right: 6.4%;
    margin-top: 150px;
    background-color: #4e1f8a;
    color: white;
    // z-index: 1;
    width: 80px; */
    position: absolute;
    right: 37px;
    color: white;
    width: 143px;
    height: 51px;
    border-radius: 5px;
    background-color: #4e1f8a;
    top: 90%;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.15px;
    line-height: 38px;
    font-family: montserrat;
  }
  
  .forgot-loader {
    margin: auto;
    margin-top: 20px;
    // z-index: 2;
    stroke: #FFF;
  }
  // .forgot-loader ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  //   stroke: #000000;
  // }
  
  .logo {
    position: absolute;
    width: 100%;
    top: 7%;
    left: 5.9%;
    height: 5%;
    font-family: Medel;
    font-size: 26px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
  }
  
  .error-message {
    position: relative;
    text-align: center;
    margin-top: 80%;
    color: red;
    font-weight: bold;
  }
  
  .blue-bg {
    /* position: absolute;
    top: 24.3%;
    left: 1.9%;
    // margin: 24.3% 1.9% 24.3% 1.9%;
    // margin: auto;
    width: 96.3%;
    height: 51.5%;
    background-color: #4e1f8a; */
    position: absolute;
    top: 24%;
    width: 1848px;
    height: 556px;
    background-color: #4e1f8a;
  }
  
  .forgot-container {
    position: relative;
    width: 536px;
    height: 646px;
    box-shadow: 0 3px 50px rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    background-color: #ffffff;
    left: 9%;
    bottom: 85%;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    border-radius: 5px;
  }
  
  .about {
    position: absolute;
    margin-left: 44%;
    margin-top: 2%;
    padding-right: 10px;
    width: 799px;
    height: 229px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: 1.1px;
    text-align: justify;
    color: #ffffff;
  }
  
  .image-forgot {
    margin-left: 44%;
    margin-top: 8%;
    width: 50%;
  }
  
  .form-group{
    position: relative;
    top: 52px;
    left: 8px;
    color: #9a9a9a;
    font-family: Montserrat;
    font-size: 14px;
  }
  