<h1 class="dialog-header" mat-dialog-title>Invite Status
  <div class="close-div">
    <button class="close-btn" mat-raised-button (click)="onNoClick()">Done</button>
  </div>
</h1>

<div class="dialog-content" mat-dialog-content>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let candidate"> {{candidate.name}}
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let candidate">
        <i *ngIf="candidate.status === 'Assigned'" style="color: #FFCA2C" class="material-icons status-sym">
          fiber_manual_record</i> <span *ngIf="candidate.status === 'Assigned'">&nbsp; Previously Invited (Not Sent)
        </span>
        <i *ngIf="candidate.status === 'Invited'" style="color: #00CBBD" class="material-icons status-sym">
          fiber_manual_record</i> <span *ngIf="candidate.status === 'Invited'">&nbsp; Invite Sent </span>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>