/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
@import '~ngx-bar-rating/themes/br-horizontal-theme';

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@font-face {
  font-family: "Medel";
  src: url("assets/Medel.ttf");
  }
  .mat-form-field-infix {
    display: block !important;
    position: relative !important;
    flex: auto !important;
    min-width: 0 !important;
    width: 465px !important;
}

.cdk-overlay-pane {
  position: absolute !important;
  pointer-events: auto !important;
  box-sizing: border-box !important;
  z-index: 1000 !important;
  width: 535px !important;
  display: flex !important;
  max-height: 100% !important;
  max-width: 100% !important;  
  /* right: 28px !important; */
  top: 56px !important;
}
/* .cdk-overlay-dark-backdrop {
  background: #707070 !important;
} */
/* .cdk-overlay-backdrop {
  position: absolute !important;
  top: 79px !important;
  bottom: 0 !important;
  left: 279px !important;
  right: 0px !important;
  z-index: 1000 !important;
  pointer-events: auto !important;
  -webkit-tap-highlight-color: transparent !important;
  transition: opacity .4s cubic-bezier(.25,.8,.25,1) !important;
  opacity: 0 !important;
} */

ngx-file-picker {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  width: 100% !important;
  height: 100% !important;
  overflow: auto !important;
  max-width: 100% !important;
  border-radius: 6px !important;
  padding-bottom: 40px !important;
}
/* mat-tab-group.mat-tab-group.mat-primary {
  width: 110% !important;
} */
div#dropZone {
  max-width: 100% !important;
    margin: auto !important;
    border: 2px dashed #e8e0f5 !important;
    border-radius: 6px !important;
    padding: 56px 0 !important;
    background: #fff !important;
}

.mat-drawer-inner-container {
  overflow:  hidden !important;
}
.progress{
  width: 591px !important;
  border-radius: 1.25rem !important;
}
.progress-bar.bg-success {
  background-color: #e9ecef!important;
}
.progress-bar {
  color: #6C4EDC !important;
}
.progress{
  /* right: 12% !important; */
  left:129px;
  position: relative !important;
}
.progress-bar{

  background-color:black !important;  
    
  }
  .cdk-overlay-dark-backdrop {
    background: none !important;
  }


  /*Vertical Tab Chages */
ul.nav.nav-tabs.justify-content-start {
  float: left;
  width: auto;
  margin-top: 50px;
}
.tab-content {
  float: left;
  width: 64%;
  margin: 50px 0px;
  background-color: #f7f9fc;
  padding: 15px;
  color: #707070;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  border:1px solid #c9d2e0;
  /* border-left:none; */
}
ul.nav.nav-tabs.justify-content-start{
  list-style:none !important;
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #f7f9fc;
    border: 1px solid #c9d2e0;
    border-radius: 0px;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    border-right: none;

  }
}
li.nav-item.ng-star-inserted {
  display: block;
  clear: both;
  width: 100%;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  list-style:none;
  border-bottom:1px solid #c9d2e0;
}
li.nav-item.ng-star-inserted>a.nav-link.nav-link.active{
font-size: 30px;
height:230px;
border-right:none;
font-weight: 400;
text-transform: uppercase;
color: #4e1f8a;
background: #f7f9fc !important;
border-bottom: 1px solid #c9d2e0;
}
li.nav-item.ng-star-inserted>a.nav-link.nav-link{
font-size: 30px;
height:230px;
border-right:none;
font-weight: 400;
text-transform: uppercase;
color: #4e1f8a;
}
ul.ng-star-inserted {
  list-style: none;
}
